@font-face
{
    font-family: "Roboto";
    src:url("Roboto-Regular.ttf");
}

body
{
    width: 60%;
    margin: auto;
    font-family: "Roboto";
    background-color: #97c8eb;
    color: #000000;
    font-size: 1.2rem;
}

pre
{
    background-color: #3aafb9;
    border-style: double;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

a
{
    color: #000000;
}

a:visited
{
    color: #000000;
}

img
{
    max-width: 100%;
    max-height: 100%;
}
